---
http_interactions:
- request:
    method: get
    uri: http://fakeurl.com/job/Authentication/api/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<html><head><meta http-equiv=''refresh'' content=''1;url=/login?from=%2Fjob%2FJenkinsTrafficLight%2Fapi%2Fjson%2Fapi%2Fjson''/><script>window.location.replace(''/login?from=%2Fjob%2FJenkinsTrafficLight%2Fapi%2Fjson%2Fapi%2Fjson'');</script></head><body
        style=''background-color:white; color:white;''>Authentication required</body></html>                                                                                                                                                                                                                                                                                                            '
  recorded_at: Fri, 18 Jan 2013 02:26:52 GMT
recorded_with: VCR 2.4.0
